@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	font-family: "Lato", sans-serif;
	animation-duration: 9s;
	animation-name: background;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.notebook {
	max-width: 400px;
	max-height: 580px;
	width: 100%;
	height: 100%;
	border-radius: 15px;
	background-color: #fff;
	white-space: wrap;
	padding: 30px;
}
ul {
	margin-top: 25px;
}
li {
	margin-top: 10px;
}

.crossOut {
	text-decoration: line-through;
}

@keyframes background {
	from {
		background-color: rgb(203, 255, 226);
	}
	25% {
		background-color: rgb(200, 255, 249);
	}
	50% {
		background-color: rgb(255, 200, 237);
	}
	75% {
		background-color: rgb(255, 191, 191);
	}
	100% {
		background-color: rgb(202, 185, 255);
	}
}

@media only screen and (max-width: 768px) {
	.notebook {
		/* напоминалка */
		max-width: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
		border-radius: 0px;
	}
	body {
		font-size: calc(16px + 0.7vw);
	}
}
